
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}




<!-- Dynamic Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
             <h1>Add Chore</h1>
            <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
    </div>
        </div>
    </div>
</div>
<!-- End Dynamic Modal -->

{% endblock %}

