{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

        <h1>
            Today is, {{ date }}!</h1>

        <table id="choreassignments" class="table">
          <thead>
            <tr>
              <th scope="col">Assigned To</th>
              <th scope="col">Description</th>
              <th scope="col">Frequency</th>
              <th scope="col">Value</th>
              <th scope="col">Completed</th>
              <th scope="col">Approved</th>
            </tr>
          </thead>
          <tbody>
            {% for chore in chores %}

            <tr id="{{ chore.id }}">

                <th scope="row">{{ chore.assigned_user }} </th>
                <td id="desc">{{ chore.description }}</td>
                <td id="occr">{{ chore.occurrence }}</td>
                <td id="by">{{ chore.value }}</td>
                <td>
            {% if chore.status == 'Pending' %}
                    <a class="btn btn-warning btn-complete btn-sm">Pending Approval</a>
                    <a  href="/chore_progress/{{ chore.id }}/approve"
                                                        class="btn btn-danger btn-approve btn-sm">Approve</a>

            {% elif chore.status == 'Completed' %}

                    <a class="btn btn-success btn-approved btn-sm">Approved</a>

            {% else %}

                    <a  href="/chore_progress/{{ chore.id }}/completed"
                                                        class="btn btn-warning btn-complete btn-sm">Completed!!</a>
                    <a  href="/chore_progress/{{ chore.id }}/approve"
                                                        class="btn btn-danger btn-incomp btn-sm">Incomplete</a>
            {% endif %}
                </td>
                <td> {{ chore.status }}</td>
            </tr>

            {% endfor %}
          </tbody>
            </table>


<script>



</script>


{% endblock %}


